:root {
    --font-size-base: 16px;
    --color-warm-orange: #cd7100;
}

body {
    background-color: #f2f2f2;
    font-family: Verdana, sans-serif;
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    margin: 1rem;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 42px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 0;
}


input[type="text"],
button {
    font-size: var(--font-size-base);
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    border: none;
}

input[type="text"] {
    border: 1px solid #e6e6e6;
}

input[type="text"]:focus {
    background-color: #fff4e8;
    border-color: var(--color-warm-orange) !important;
    box-shadow: 0 0 5px rgba(204, 204, 204, 0.5);
}

input[type="checkbox"] {
    appearance: none;
    width: 21px;
    height: 21px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

input[type="checkbox"]:checked::before {
    content: '✔';
    display: block;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(204, 204, 204, 0.5);
}

button {
    background-color: #ff8c00;
    color: #f2f2f2;
    cursor: pointer;
    border: 1px solid var(--color-warm-orange);
}

button:hover {
    background-color: #ffa333;
}

.delete-button {
    padding: 4px;
    font-size: 12px;
    margin-left: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff4e8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.completed {
    text-decoration: line-through;
}

.description {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    padding: 0;
    margin-bottom: 20px;
}